
@media screen and (max-width:375px){
    .side-bar{
        width: 35vw;
    }
    .label{
        width: 35vw;
    }
    .label a{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:769px){
    .sidenav{
        display: contents;
    }
}
@media screen and (max-width:769px){
    .topnav{
        display: none;
    }
}
