*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar{
    padding-top: 10px;
    width: 30vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    left: -40%;
}
#check:checked ~ .side-bar{
    left:0;
    transition: all 0.5s;

}
#check:checked ~ .btn-one{
    opacity: 0;
    
}
#check{
    display: none;
}
.btn-one{
    position: absolute;
    color: rgb(22,42,44);
    padding: 10px 0 0 10px
}
#btn-close{
    position: absolute;
    right: 10px;
}
.label{
    width: 30vw;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(22,42,44);
    transition: all 0.5s;
}
.label a{
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(104,194,208);
}
a:hover{
    color: white;
    transition: all 0.3s;
}
.nav-link{
    display: block;
}
.sidenav{
    display: none;
}